.artist-details {
  display: grid;
  gap: 20px;
  justify-content: space-between;
  justify-content: space-between;
  grid-template-columns: 3fr 400px;
  padding: 20px 15px;

  div {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    h1{
      font-size: 40px;
    }
  }
}
