.list-container {
  display: grid;
  gap: 10px;

  @media screen and (min-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
  }

  app-artist-card {
    width: 280px;
    display: grid;

    mat-card {
      justify-content: space-around;
    }
  }
}
